.message_sender{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 30px;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
}
.message_sender_top{
    display: flex;
    align-items: center;
    border: 1px solid #eff2f5;
    padding: 15px;
}
.message_sender_top >form{
    display: flex;
    flex: 1;
}
.message_sender_top > form >input{
outline-width: 0;
border: none;
background-color: #eff2f5;
padding: 5px 20px;
margin: 0px 10px;
border-radius: 999px;
height: 30px;
font-size: 18px;

}
.message_sender_top>form > button{
    display: none;
}
.message_sender_top > form > .message_sender_input{
  flex: 1;
}
.message_sender_bottom{
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    
}
.message_sender_option{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px;
}
.message_sender_option >h4{
    margin-left: 10px;
    color: gray;
    font-size: medium;
}
.message_sender_option:hover{

    background-color: #eff2f5;
    border-radius: 25px;

}